
    <md-list>
        <md-item ng-repeat="category in categories track by category.Id">
            <md-item-content>
                <div class="md-tile-left">
                    <md-button style="margin-right: 15px" ng-click="edit(category)" class="md-fab md-primary" aria-label="{{category.Name}}">
                        <ng-md-icon icon="face" style="fill: #fff" options='{"duration": 250, "rotation": "none"}' size="32"></ng-md-icon>
                    </md-button>
                </div>
                <div class="md-tile-content">
                    <h3 ng-click="edit(category)" style="cursor: pointer;">{{category.Name}}</h3>
                    <h4>Created {{category.CreatedDate | fromNow}}</h4>
                    <h4 ng-show="category.ModifiedDate">Modified {{category.ModifiedDate | fromNow}}</h4>
                    <p>
                        Questions about x, y and z
                    </p>
                </div>
                <div>
                    <md-switch ng-model="category.enabled" aria-label="Category Enabled">

                    </md-switch>
                </div>
                <md-button ng-click="delete(category)" class="md-fab" aria-label="Delete Category" ng-disabled="category.isDeleted">
                    <md-tooltip>
                        Delete
                    </md-tooltip>
                    <ng-md-icon icon="{{getDeleteIcon(category)}}" options='{"duration": 250, "rotation": "none"}' style="fill: #fff" size="32"></ng-md-icon>
                </md-button>
            </md-item-content>
            <md-divider></md-divider>
        </md-item>
        
        <md-button style="margin: 20px 0;" ng-click="add()" class="md-fab md-primary md-hue-2" aria-label="Add New Category">
            <md-tooltip>
                Add Category
            </md-tooltip>
            <ng-md-icon icon="{{addIcon}}" style="fill: #fff" options='{"duration": 250, "rotation": "none"}' size="32"></ng-md-icon>
        </md-button>
                
    </md-list>
