<md-dialog aria-label="Add New Cateogry">
    <md-content>
        <h2>{{title}}</h2>
        <md-item-content>
            <div>
                <md-input-container flex>
                    <label>Category</label>
                    <input ng-model="category.Name" placeholder="New Category">
                </md-input-container>
            </div>
        </md-item-content>

    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="save(category)" class="md-primary">
            Save
        </md-button>
    </div>
</md-dialog>
