body {
  font-family: sans-serif;
}
core-header-panel {
  background: white;
}
core-toolbar {
  background-color: #03A9F4; 
}
#navheader {
  background-color: #56BA89;
}
.content {
  padding: 20px;
}
/* drawer is always visible on a wide screen
   so menu button isn't required */
core-drawer-panel:not([narrow]) #navicon {
  display: none;
}